
<ul class="circle">
    <li>
      <div class="text">{{wtask.task}} <br />{{wtask.data}}</div>
    </li>
    <li>
      <div class="text">
        <div class='task-content'>{{dtask.task}} <br />{{dtask.data}}</div>
      </div>
    </li>
    <li>
      <div class="text"><div class='task-content'>{{mtask.task}} <br />{{mtask.data}}</div></div>
    </li>
    <li>
      <div class="text"></div>
    </li>
    <li>
      <div class="text"></div>
    </li>
    <li>
      <div class="text"></div>
    </li>
    <li>
      <div class="text"></div>
    </li>
    <li>
      <div class="text"></div>
    </li>
    <li>
      <div class="text"></div>
    </li>
    <li>
      <div class="text"></div>
    </li>
    <li>
      <div class="text"></div>
    </li>
    <li>
      <div class="text"></div>
    </li>
  </ul>
  <!-- <div class='half-circle'></div>
  <ul class='half-circle'>
    <li>
      <div class="text">task 1 <br />example 1</div>
    </li>
    <li>
      <div class="text">
        <div class='task-content'>task 2 <br />example 2</div>
      </div>
    </li>
    <li>
      <div class="text"><div class='task-content'>task 3 <br />example 3</div></div>
    </li> 
  </ul> -->
  <div class='center'>
    <div class='center-inner'></div>
    <div class='sap-text'>{{framework}}</div>
  </div>