<div class="bgcolor">
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 align-center">
        <label class="label-text-main">{{this.mainTitle}}</label>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-3 mar-top-div">

            <div class="row div-col-3-style mar-left-div">
                <div class="col-sm-3">
                    <div class="circle"><fa-icon [icon]="faLightbulb"></fa-icon></div>
                </div>
                <div class="col-sm-9 ml-5">
                    <label class="label-text-div-main flex-col-style">{{this.taskdetails[0]["task"]}}</label>
                    <p class="paragraph-text-div-main flex-col-style"> {{this.taskdetails[0]["desc"]}}</p>
              </div>
            </div>

            <div class="row div-col-3-style div-mar">
                <div class="col-sm-3">
                    <div class="circle"><fa-icon [icon]="faDiceFour"></fa-icon></div>
                </div>
                <div class="col-sm-9 ml-5">
                    <label class="label-text-div-main flex-col-style">{{this.taskdetails[1]["task"]}}</label>
                    <p class="paragraph-text-div-main flex-col-style"> {{this.taskdetails[1]["desc"]}}</p>
              </div>
            </div>


            <div class="row div-col-3-style div-mar">
                <div class="col-sm-3">
                    <div class="circle"><fa-icon [icon]="faRecycle"></fa-icon></div>
                </div>
                <div class="col-sm-9 ml-5">
                    <label class="label-text-div-main flex-col-style">{{this.taskdetails[2]["task"]}}</label>
                    <p class="paragraph-text-div-main flex-col-style"> {{this.taskdetails[2]["desc"]}}</p>
              </div>
            </div>


            <div class="row div-col-3-style mar-left-div">
                <div class="col-sm-3">
                    <div class="circle"><fa-icon [icon]="faChartBar"></fa-icon></div>
                </div>
                <div class="col-sm-9 ml-5">
                    <label class="label-text-div-main flex-col-style">{{this.taskdetails[3]["task"]}}</label>
                    <p class="paragraph-text-div-main flex-col-style"> {{this.taskdetails[3]["desc"]}}</p>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
            <img class="img-style" src="../assets/main-md.JPG">
        </div>
        <div class="col-sm-3 mar-top-div">

          <div class="row div-col-3-style">
                <div class="col-sm-3">
                    <div class="circle"><fa-icon [icon]="faPlane"></fa-icon></div>
                </div>
                <div class="col-sm-9 ml-5">
                    <label class="label-text-div-main flex-col-style">{{this.taskdetails[4]["task"]}}</label>
                    <p class="paragraph-text-div-main flex-col-style"> {{this.taskdetails[4]["desc"]}}</p>
              </div>
            </div>
            
            <div class="row div-col-3-style div-mar mar-right-div">
                <div class="col-sm-3">
                    <div class="circle"><fa-icon [icon]="faClipboardList"></fa-icon></div>
                </div>
                <div class="col-sm-9 ml-5">
                    <label class="label-text-div-main flex-col-style">{{this.taskdetails[5]["task"]}}</label>
                    <p class="paragraph-text-div-main flex-col-style"> {{this.taskdetails[5]["desc"]}}</p>
              </div>
            </div>


            <div class="row div-col-3-style div-mar mar-right-div">
                <div class="col-sm-3">
                    <div class="circle"><fa-icon [icon]="faBezierCurve"></fa-icon></div>
                </div>
                <div class="col-sm-9 ml-5">
                    <label class="label-text-div-main flex-col-style">{{this.taskdetails[6]["task"]}}</label>
                    <p class="paragraph-text-div-main flex-col-style"> {{this.taskdetails[6]["desc"]}}</p>
              </div>
            </div>


           <div class="row div-col-3-style">
                <div class="col-sm-3">
                    <div class="circle"><fa-icon [icon]="faFutbol"></fa-icon></div>
                </div>
                <div class="col-sm-9 ml-5">
                    <label class="label-text-div-main flex-col-style">{{this.taskdetails[7]["task"]}}</label>
                    <p class="paragraph-text-div-main flex-col-style"> {{this.taskdetails[7]["desc"]}}</p>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>