
<div class="content" role="main">
  <div class='left-task'>
    <div>
      <!-- <img src='/assets/t1.png' /> -->
      <span (click)="showDetails(1)">Task 1</span>
      <p>description</p>
      <p>
        <span>completed % : </span><span>50%</span>
      </p>
    </div>
    <div class='left-divs'>
      <span (click)="showDetails(2)">Task 2</span>
      <p>description</p>
      <p>
        <span>completed % : </span><span>50%</span>
      </p>
    </div>
    <div class="left-divs">
      <span (click)="showDetails(3)">Task 3</span>

      <p>description</p>
      <p>
        <span>completed % : </span><span>50%</span>
      </p>
    </div>
    <div>
      <span (click)="showDetails(4)">Task 4</span>
      <p>description</p>
      <p>
        <span>completed % : </span><span>50%</span>
      </p>
    </div>
  </div>
  <div class='mid-div'>
    <!-- <div class='qtr'>
  <div class='center-out1'>
<div class='center'> 
  <label class='sflbl'>SAP Framework</label>-->
    <img src='/assets/sap-framework.png' />
    <div class="centered">SAP Framework</div>
    <!-- </div></div></div> -->
  </div>
  <div class='right-task'>
    <div>
      <!-- <img src='/assets/t1.png' /> -->
      <span (click)="showDetails(5)">Task 1</span>
      <p>description</p>
      <span>completed % : </span><span>50%</span>
    </div>
    <div class='right-divs'>
      <span (click)="showDetails(6)">Custom</span>
      <p>description</p>
      <span>completed % : </span><span>50%</span>
    </div>
    <div class='right-divs'>
      <span (click)="showDetails(7)">Custom link</span>
      <p>description</p>
      <span>completed % : </span><span>50%</span>
    </div>
    <div>
      <span (click)="showDetails(8)">Task 8</span>
      <p>description</p>
      <span>completed % : </span><span>50%</span>
    </div>
  </div>
</div>