.label-text-main{
    font-size: 42px;
    line-height: 50px;
    font-weight: 600;
}

.label-text-div-main{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.paragraph-text-div-main{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

.align-center{
    text-align: center;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1.5em;
    overflow: visible;
    vertical-align: -0.125em;
    font-size: 22px;
}