<div class="bgcolor">
    <div class="piechart">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="dot dot1"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="dot dot2"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="dot dot3"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="dot dot4"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="label-text">SAP FRAMEWORK</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="dot44"><fa-icon [icon]="faSearch"></fa-icon></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="dot33"><fa-icon [icon]="faHashtag"></fa-icon></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="dot22"><fa-icon [icon]="faClock"></fa-icon></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="dot11"><fa-icon [icon]="faCheckCircle"></fa-icon></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 mar-div-1">
                        <label class="label-text-div-main">Task 1</label>
                        <p class="paragraph-text-div-main"> Example 1</p>
                        <div class="mar-div-icon-1">
                          <fa-icon [icon]="faSearch"></fa-icon>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mar-div-2">
                        <label class="label-text-div-main lab-left">Task 2</label>
                        <div class="mar-div-icon-2">
                            <fa-icon [icon]="faHashtag"></fa-icon>
                          </div>
                        <p class="paragraph-text-div-main lab-left-2"> Example 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mar-div-11">
                        <div class="mar-div-icon-3">
                            <fa-icon [icon]="faClock"></fa-icon>
                          </div>
                          <label class="label-text-div-main lab-left-3">Task</label>
                          <p class="paragraph-text-div-main lab-left-33"> Example</p>
                    </div>
                </div>
            </div>
        </div>
	</div>	
</div>